/*basic styles */
a{
  color: #C4EBC8;
  text-decoration: none;
cursor: grabbing;
  
  }

  span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  input{
    border-radius:10%;
    height: 25px;
    border-style: none;
background-color:black;
color:whitesmoke;


  }
